doctype html
html
	head
		title Popkey : A Slackbot
		link(rel='icon', href='favicon.png')
		link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')
		link(rel='stylesheet', type='text/css', href='/public.css')
	body(style='background-color: #0B110C;')
		center
			.container(style='margin-top: -10vh;')
				h1(style='font-size: 3rem; color: beige; letter-spacing:2px;') Great choice, my friend.
				img(src='gatsby.gif', style='width: 100%; max-width: 100%;')